<h1>Add a Team</h1>

<form method="post" action="/teams">
    <label for="Location">Location: </label>
    <input type="text" id="Location" name="Location" /><br />
    <label for="Name">Name: </label>
    <input type="text" id="Name" name="Name" /><br />
    <label for="Wins">Wins: </label>
    <input type="number" id="Wins" name="Wins" />
    <label for="Losses">Losses: </label>
    <input type="number" id="Losses" name="Losses" /><br />
    <button type="submit">Create Team</button>
</form>
<a href="/teams">Back</a>